name: Build Java Jar executable

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile Jar
        run: |
          javac src/LudusVitae.java
          jar cfe LudusVitae.jar src.LudusVitae src

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: LudusVitae.jar
          path: LudusVitae.jar